# =========================
# 🔐 ENV FILES
# =========================
.env
.env.*

# =========================
# 🟢 FRONTEND (React + Vite)
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# 🐍 BACKEND (Python / FastAPI)
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 📦 DATA FILES
# =========================
*.xlsx
*.db

# =========================
# 🐳 DOCKER
# =========================
*.log
vite.config.js.timestamp-*

# =========================
# 💻 IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db